<div class="col-md-6 col-sm-12 col-xs-12">
	<br>
	<img src="images/logo.gif" class="img-responsive center-block">
	<br>
	<p>
		Xiao Loong's cuisine can be recognized by the different uses of aromatics, spices, and cooking styles. Dishes prepared in the Sichuan and Beijing style are characterized by spicy and pungent flavors, with an emphasis on strong flavored roots and vegetables such as pepers, garlic, and ginger as well as a prolific amount of chilis and spicy sauces. We prepare all dishes from scratch using only the freshest and finest ingredients. To ensure that we serve only the best, ingredients are purchased an prepared on a daily basis.
	</p>
	<br>
</div>
<div class="section-break"></div>