<div class="col-md-10 col-sm-12 col-xs-12 center-block">
	<div class="row">
		<img src="http://placekitten.com/g/400/600" class="col-md-6 col-sm-12 col-xs-12 img-responsive">	
		<div ng-controller="contactCtrl" class="col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Contact Information:</h4>
					<p>Phone: (415)753-5678</p>	
					<p>E-mail: management@xiaoloong.com</p>	
					<button class="btn btn-danger" ng-click="openYelp()">Find us on Yelp!</button>
				</div>
			</div>
			<br>	
			<div ng-include="'partials/contactForm.html'" class="color-wht"></div>
		</div>
	</div>
</div>

